.button {
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
}

.good {
  background-color: green;
}
.neutral {
  background-color: yellow;
}

.bad {
  background-color: red;
}

.good:active,
.neutral:active,
.bad:active {
  font-size: 25px;
}
